<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
         <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="connection.pool_size">100</property>


        <mapping class="entity.shipping.ShopCouriers"/>
        <mapping class="entity.shop.Shops"/>
        <mapping class="entity.shop.UserRoles"/>
        <mapping class="entity.shipping.ShopWeightCodRules"/>
        <mapping class="entity.shipping.ShippingRegionsZipCodes"/>
        <mapping class="entity.shop.Users"/>
        <mapping class="entity.taxes.ShopTaxRegionRules"/>
        <mapping class="entity.shop.ShopCategories"/>
        <mapping class="entity.product.ProductCategories"/>
        <mapping class="entity.shop.ShopManagers"/>
        <mapping class="entity.product.ProductReviews"/>
        <mapping class="entity.general.Countries"/>
        <mapping class="entity.general.Courriers"/>
        <mapping class="entity.order.OrderItems"/>
        <mapping class="entity.order.OrderStatusHistory"/>
        <mapping class="entity.order.OrderItemStatusHistory"/>
        <mapping class="entity.order.PaymentMethods"/>
        <mapping class="entity.shipping.ShippingZones"/>
        <mapping class="entity.shipping.ShopWeightOverShipRules"/>

        <mapping class="entity.shop.ShopBelongsCategories"/>
        <mapping class="entity.shop.ShopReviews"/>
        <mapping class="entity.product.Products"/>
        <mapping class="entity.order.OrderStatus"/>
        <mapping class="entity.shipping.ShopWeightShipRules"/>
        <mapping class="entity.general.Languages"/>
        <mapping class="entity.shipping.ShopCourierClasses"/>
        <mapping class="entity.taxes.ShopTaxZipCodeRules"/>
        <mapping class="entity.order.ShippingAddress"/>
        <mapping class="entity.shop.ShopLanguages"/>
        <mapping class="entity.product.ProductTags"/>
        <mapping class="entity.general.Continents"/>
        <mapping class="entity.shop.ShopCountries"/>
        <mapping class="entity.order.Orders"/>
        <mapping class="entity.product.ProductGalleryTag"/>
        <mapping class="entity.general.GlobeRegions"/>
        <mapping class="entity.shipping.ShopDisableZipCodes"/>
        <mapping class="entity.product.ProductGallery"/>
        <mapping class="entity.shop.ShopGiftwrap"/>
        <mapping class="entity.order.BillingAddress"/>
        <mapping class="entity.shop.ShopStyling"/>
        <mapping class="entity.general.Currencies"/>
        <mapping class="entity.shipping.ShippingZonesRegions"/>
        <mapping class="entity.shop.ShopBanks"/>
        <mapping class="entity.taxes.ShopTaxRules"/>
        <mapping class="entity.shop.ShopCurrencies"/>
        <mapping class="entity.shop.SuppliersSupplies"/>
        <mapping class="entity.shop.ShopEulas"/>
        <mapping class="entity.shop.ShopManufacturers"/>
        <mapping class="entity.product.ProductAttributesValues"/>
        <mapping class="entity.shop.ShopSuppliers"/>
        <mapping class="entity.product.ProductCategoryAttributes"/>
        <mapping class="entity.shop.ShopTranslations"/>
        <mapping class="entity.product.ProductAttributeUnit"/>

    </session-factory>
</hibernate-configuration>
